<div class="container loginContainer">
    <div class="row">
        <div class="col-md-12 logo text-center">
            <a href="#"> <img src="assets/images/logo-login.png" alt="Tuebora" border="0" name="Tuebora" /> </a>
            </div>
     </div>
    <div class="row loginFormBlock">
      <div class="col-md-6 leftBlockSec">
        <p class="moduleName">Sign in using your SSO Account</p>
          
           <div class="form-horizontal">
           <div class="form-group">
          <label class="required">User Name</label>
          <input type="text" class="form-control" />
        </div>
            <div class="form-group">
          <label class="required">Password</label>
          <input type="password" class="form-control" />
        </div>
          <div class="checkbox">
          <label>
            <input type="checkbox">
            <span> Remember my user name</span></label>
        </div>
        <div class="col-md-12 nopadding">
           <a href="index.html" class="btn btn-default loginButton" type="submit">Sign In</a>
           <a href="admin.html" class="btn btn-default loginButton" type="submit">Admin</a>
           <a href="forgot-password" class="pull-right fpw">Forgot Password?</a>
        </div>   
           </div>
           
          
          
      </div>
        <div class="col-md-6 rightBlockSec">
      <p class="moduleName">Sign in using your Account with</p>
      
      <div class="owl-carousel">
          <div class="item">
            <button class="btn-si"><span class="google"><i class="fa fa-google"></i>Google</span></button>
            <button class="btn-si"><span class="facebook"><i class="fa fa-facebook"></i>Facebook</span></button>
           
          </div>
          <div class="item">
            <button class="btn-si"><span class="windows"><i class="fa fa-windows"></i>Microsoft</span></button>
            <button class="btn-si"><span class="twitter"><i class="fa fa-twitter"></i>Twitter</span></button>
  
          </div>
          <div class="item">
            <button class="btn-si"><span class="github"><i class="fa fa-github"></i>GitHub</span></button>
            <button class="btn-si"><span class="foursquare"><i class="fa fa-foursquare"></i>Foursquare</span></button>
          </div>
          
        
        
          <div class="item">
            <button class="btn-si"><span class="linkedin"><i class="fa fa-linkedin"></i>LinkedIn</span></button>
            <button class="btn-si"><span class="instagram"><i class="fa fa-instagram"></i>Instagram</span></button>
          </div>
          <div class="item">
            <button class="btn-si"><span class="dropbox"><i class="fa fa-dropbox"></i>Dropbox</span></button>
            <button class="btn-si"><span class="bitbucket"><i class="fa fa-bitbucket"></i>Bitbucket</span></button>
  
          </div>
          
        
        </div>
      
      </div>
      </div>
    <div class="col-md-12 unlockForgot">
    Haven't registered yet?  <a href="user-registration.html" class="">Register now</a>
  </div>
  
  
  
  </div>
  <div class="container">
     <div class="col-md-12 text-center loginFooter">Copyright 2019 Tuebora Inc.  All rights reserved. | <a href="#">Terms of use</a> | <a href="#">Privacy Policy</a></div>
   </div>
