<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header"> 
        <!-- The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation --> 
        <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Tuebora"/> </a> </div>
      
      <!--/.nav-collapse --> 
    </div>
  </nav>
  
  <!-- Header Part Completed -->
  
  <div class="pageHeading">
    <div class="container-fluid">
      <div class="left-col">
        <h2 *ngIf="formschema">{{ formschema.title }}</h2>
      </div>
      <div class="right-col">
        
      </div>
    </div>
  </div>
  
  <!-- Page Heading Completed -->
  
  <div class="container-fluid">
    <div class="main-container">
      <div id="wizard" class="changePwd ssoWizard">
        <h2 *ngIf="formschema" >{{ formschema.title }}</h2>
        <div>
          
          
         <div class="newUser">
        <div class="bigitem noborder">
          
         
          <div class="editProfileForm ssoProfileForm">

            <form [formGroup]="profileForm"  >
              <div *ngIf="formclass" [class]="formclass[0].htmlClass"  >
              <div *ngFor="let item of formitems;" [ngClass]="item.htmlClass" >
                  <div  *ngFor="let eachitem of item.items;" class="form-group">
                    <label *ngIf="formrequired.indexOf(eachitem) !== -1" class="required"  >{{ getData(eachitem).title }}</label>
                    <label *ngIf="formrequired.indexOf(eachitem) === -1"   >{{ getData(eachitem).title }}</label>
                    <input *ngIf="getData(eachitem).type && (getData(eachitem).type === 'string' || getData(eachitem).type === 'text')  && (!getData(eachitem).max || getData(eachitem).max <= 64) && !getData(eachitem).enum" alphaNumeric [ngClass]="{ 'is-invalid': profileForm['controls'][eachitem].touched && profileForm['controls'][eachitem].errors }" class="form-control" type="text"   [formControlName]="eachitem" name="{{ eachitem }}" >
                    <input *ngIf="getData(eachitem).type && (getData(eachitem).type === 'email')  && (!getData(eachitem).max || getData(eachitem).max <= 64) && !getData(eachitem).enum"[ngClass]="{ 'is-invalid': profileForm['controls'][eachitem].touched && profileForm['controls'][eachitem].errors }" class="form-control" type="email"   [formControlName]="eachitem" name="{{ eachitem }}" >
                    <input *ngIf="getData(eachitem).type && getData(eachitem).type === 'datetime' "  [ngClass]="{ 'is-invalid': profileForm['controls'][eachitem].touched && profileForm['controls'][eachitem].errors }" class="form-control"  type="datetime-local"  [formControlName]="eachitem">
                    <input *ngIf="(getData(eachitem).type) && (getData(eachitem).type === 'number' || getData(eachitem).type === 'integer') " numbersOnly [ngClass]="{ 'is-invalid': profileForm['controls'][eachitem].touched && profileForm['controls'][eachitem].errors }" class="form-control" type="text"  [formControlName]="eachitem">
                    <textarea *ngIf="getData(eachitem).type && getData(eachitem).type === 'textarea'" [ngClass]="{ 'is-invalid': profileForm['controls'][eachitem].touched && profileForm['controls'][eachitem].errors }" class="form-control" [formControlName]="eachitem"></textarea>
                    <textarea *ngIf="getData(eachitem).type && ((getData(eachitem).type === 'string' && getData(eachitem).max >= 64) || getData(eachitem).type === 'textarea')" [ngClass]="{ 'is-invalid': profileForm['controls'][eachitem].touched && profileForm['controls'][eachitem].errors }" class="form-control" [formControlName]="eachitem"></textarea>
                    <select *ngIf="getData(eachitem).type && (getData(eachitem).type === 'dropdown' || getData(eachitem).enum)" [ngClass]="{ 'is-invalid': profileForm['controls'][eachitem].touched && profileForm['controls'][eachitem].errors }" class="form-control" [formControlName]="eachitem" ><option  *ngFor="let option of getData(eachitem).enum;" value="{{ option.value }}" >{{ option.key }}</option></select>
                  <div *ngIf="getData(eachitem).type && getData(eachitem).type === 'radio'" > <label *ngFor="let option of getData(eachitem).enum;" ><input   [formControlName]="eachitem" type="radio" value="{{ option.value }}" > {{ option.key }} </label></div>
                  <div *ngIf="getData(eachitem).type && getData(eachitem).type === 'checkbox'" > <label *ngFor="let option of getData(eachitem).enum;" ><input   [formControlName]="eachitem" type="checkbox" value="{{ option.value }}" > {{ option.key }} </label></div>

                  
                  <div *ngIf="profileForm['controls'][eachitem].errors" class="invalid-feedback" >
                    <span class="error-message"  *ngIf="profileForm['controls'][eachitem].errors.required && profileForm['controls'][eachitem].touched && getData(eachitem).validationMessage">{{ (getData(eachitem).validationMessage[0].required)?getData(eachitem).validationMessage[0].required:getData(eachitem).validationMessage }}</span>
                    <div *ngIf="!getData(eachitem).validationMessage" >
                    <span  class="error-message" *ngIf="profileForm['controls'][eachitem].errors.required && profileForm['controls'][eachitem].touched">{{ getData(eachitem).title }} is required</span></div>
                    <span class="error-message" *ngIf="profileForm['controls'][eachitem].errors.minlength && profileForm['controls'][eachitem].touched">{{ getData(eachitem).title }} must be at least {{ getData(eachitem).min }} characters</span>
                    <span class="error-message" *ngIf="profileForm['controls'][eachitem].errors.maxlength && profileForm['controls'][eachitem].touched">{{ getData(eachitem).title }} not grater than {{ getData(eachitem).max }} characters</span>
                    <span class="error-message" *ngIf="profileForm['controls'][eachitem].errors.pattern && profileForm['controls'][eachitem].touched">{{ getData(eachitem).title }} does not match the pattern {{ getData(eachitem).pattren }}</span>
                  </div>
                 
                </div>
              </div>
              <div *ngFor="let fcls of formclass;" class="align-center"  >
                  <div *ngIf="fcls.type==='reset'" class="form-group">
                    <button  [class]="fcls.htmlClass" type="reset">{{ fcls.title }}</button>
                  </div>
                 <div *ngIf="fcls.type==='submit'" class="form-group">
                  <button  [class]="fcls.htmlClass" type="submit" (click)="submit()" [disabled]="profileForm.invalid" >{{ fcls.title }}</button>
                 </div>
            </div>
            </div>
          </form>

           
          
            
            
          </div>

          
         
        </div>
      </div>

      <div *ngIf="formResult" class="bigitem editProfileForm-add">          
        <div class="editProfileForm ">  

          <div class="row">
              <div *ngFor="let item of formitems;" [ngClass]="item.htmlClass" >
                  <div  *ngFor="let eachitem of item.items;" class="form-group">
                    <label *ngIf="formrequired.indexOf(eachitem) !== -1" class="required"  >{{ getData(eachitem).title }}</label>
                    <label *ngIf="formrequired.indexOf(eachitem) === -1"   >{{ getData(eachitem).title }}</label>
                    <p *ngIf="(getData(eachitem).type === 'string' || getData(eachitem).type === 'text' || getData(eachitem).type === 'radio' || getData(eachitem).type === 'dropdown')">{{ formResult[eachitem] }}</p>
                    <p *ngIf="getData(eachitem).type === 'datetime'">{{ formResult[eachitem] | date:'M-dd-yyyy h:mm a' }}</p>
                    <p *ngIf="(getData(eachitem).type === 'number' || getData(eachitem).type === 'integer')">{{ formResult[eachitem] | number }}</p>
                  </div>
                </div> 
            </div> 
        </div>
          
        </div>
       
        
      </div>
    </div>
  </div>
  